<section class="signup-body">
    <div class="signup-container">
    <h2>UPDATE</h2>
    <form class="signup" id="updateForm">
           <input type="text" name="name" id="name" placeholder="Name" value="{{user.fullName}}" autocomplete="off">
           <input type="text" name="email" id="email" placeholder="Email" value="{{user.email}}" autocomplete="off">
           <input type="password" name="password" id="password" placeholder="Password" value="{{user.password}}" autocomplete="off">
           <input type="password" name="confirmPswd" id="confirmPswd" value="{{user.password}}" placeholder="Confirm password" autocomplete="off">
           <input type="submit" value="UPDATE" class="submit" id="btn-update" data-url="{{user._id}}">
           <div class="error"></div>
    </form>
</div>
</section>